body {
	background-color: LightBlue;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	display: flex;
	flex-direction: column;
    /* overflow: hidden; */
	min-height: 100vh;

}
header {
	text-align: center;
}
h1 {
	font-size: 3rem;
}
blockquote {
  font-size: 1.5rem;
}
cite {
  font-size: 1rem;
}
.container {
	display: flex;
  flex-direction: column;
/* 	justify-content: center; */
	align-items: center;
	/* gap: 2rem; */
	height: 100vh;
}

.card {
	width: 800px;
	height: 600px;
	background-color:black;
	border-radius: 10px 0 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: crosshair;
	position: relative;
	overflow: hidden;
  border: 12px inset silver;
	box-shadow: 10px 10px 20px  rgba(0,0,0,0.5);
}

