body {
	background-color: AliceBlue;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	display: flex;
	flex-direction: column;
	overflow: hidden;

}
header {
	text-align: center;
}
h1 {
	font-size: 4rem;
}
.container {
	display: flex;
	justify-content: center;
	height: 100vh;
}

.card {
	width: 800px;
	height: 600px;
	background-color:black;
	border-radius: 10px 0 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: crosshair;
	position: relative;
	overflow: hidden;
	box-shadow: 10px 10px 20px  rgba(0,0,0,0.5);
}
