/* Applied classes */
.fade-out {
    animation: fade-out 250ms forwards;
}

/* Keyframe animations */
@keyframes fade-out {
    100% {
        opacity: 0;
        display: none;
    }
}

@layer base {
    body {
        display: grid;
        height: 80dvh;
        place-items: center;
        padding: 2rem;
    }

    img {
        width: 100%;
    }
    .explain {
        width: 50%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .cards {
        padding: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 2rem;
        max-width: 1000px;
    }

    .card {
        width: 100%;
        aspect-ratio: 2/3;
        display: block;
        background-color: tan;
        position: relative;
        border-radius: 1rem;
        max-width: 220px;
    }

    .card:nth-child(2) {
        background-color: khaki;
    }

    .card:nth-child(3) {
        background-color: thistle;
    }

    .card:nth-child(4) {
        background-color: wheat;
    }

    .delete-btn {
        position: absolute;
        bottom: -0.75rem;
        right: -0.75rem;
        width: 3rem;
        height: 3rem;
        padding: 0.5rem;
        border: 4px solid;
        border-radius: 100%;
        background: steelblue;
        color: white;
    }

    .delete-btn img {
        filter: invert();
    }

    .sr-only {
        border: 0;
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        white-space: nowrap;
    }
}
