body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
	background-color: black;
	color: white;
}

#canvas {
    /* width: 600px;
    height: 600px; */
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
